@font-face {
  font-family: CircularStd;
  src: url(./fonts/CircularStd-Book.woff);
  font-weight: normal;
}

@font-face {
  font-family: CircularStd;
  src: url(./fonts/CircularStd-Bold.woff);
  font-weight: bold;
}

* {
  margin: 0;
  font-family: CircularStd, sans-serif;
  font-style: normal;
  font-weight: 100;
  letter-spacing: 0.1px;
  color: #191414;
}

body {
  margin: 0;
  background-color: #191414;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: rgb(0, 0, 0, 0);
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-color: #949494;
  border-radius: 8px;
  transition: all 0.5s ease;
  width: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #1DB954;
  position: relative;
  flex: 1;
}

.main-body {
  height: 100%;
  background-color: #191414;
  width: 100%;
  flex: 2;
  position: relative;
}

.user-info-div{
  position: relative;
  width: 100vw;
  display: grid;
  place-items: center;
  height: 40vh;
}

.user-info{
  position: absolute;
  display: grid;
  place-items: center;
  top: 135px;
}

.user-icon {
  position: relative;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0);
  top: 2%;
}

.user-icon img:hover{
  filter: brightness(50%);
}

.user-icon img{
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: all 0.5s ease
}

.user-info h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.user-info h2{
  color: white;
  font-size: 15px;
  font-weight: normal;
}

.dashboard-info {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #191414;
}

.settings-subpanel {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.dashboard-titles {
  color: white;
  font-weight: white;
  font-size: 48px;
  margin-left: 10%;
}

.dashboard-settings a{
  flex: 1;
}

.playlists-div {
  display: grid;
  place-items: center;
  width: 100%;
}

.outer-playlists {
  margin: auto;
  display: grid;
  grid-template-columns: 350px 350px 350px 300px;
  overflow-x: scroll;
  margin-bottom: 18px;
  overflow-x: hidden;
}

.playlist-card:hover{
  background-color: #333333;
}

.playlists-div a{
  cursor: default;
  text-decoration: none;
  width: 300px;
}

.playlist-card{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #1f1b1b;
  width: 300px;
  height: 370px;
  border-radius: 10px;
  /* margin-left: 10px;
  margin-right: 10px; */
  cursor: default;
  transition: all 0.5s ease;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.playlist-img{
  margin-top: 15px;
  height: 270px;
  width: 270px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.show-more-playlists{
  background-color: #1DB954;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  display: inline-block;
  padding: 15px 30px;
  top: -10%;
  transition: all 0.5s ease;
  cursor: default;
  margin-bottom: 50px;
}

.show-more-playlists:hover{
  background-color: #44cf75;
}

.playlist-info{
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.playlist-title{
  margin-top: -20px;
  margin-bottom: 5px;
  color: white;
  font-size: 21px;
}

.playlist-tracks{
  color: rgb(156, 156, 156);
  font-size: 15px;
}

.user-stats-dropdown{
  z-index: 20;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  background-color: #1f1b1b;
  border-bottom: 2px solid #1DB954;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.stats-div{
  position: relative;
  width: 100vw;
  display: grid;
  place-items: center;
}

.user-stats-general-statistics {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.general-statistics-time {
  display: flex;
  width: 100%;
  margin-bottom: 65px;
  position: relative;
}

.general-statistics-time h1 {
  color: white;
  font-size: 16px;
  margin-right: 25px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.general-statistics-time h1:hover {
  color: #1DB954;
}

.general-stat{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-genre {
  margin-top: 150px;
  margin-bottom: 150px;
}

.icon-artist img{
  position: relative;
}

.icon-artist {
  margin-bottom: 15px;
}

.general-stat h1 {
  color: white;
  font-size: 36px;
}

.general-stat h2 {
  color: rgb(189, 189, 189);
  font-size: 20px;
}

.top-genre h1 {
  font-size: 54px;
}

.top-track h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

.top-track h2 {
  margin-bottom: 75px;
}

.user-stats-dropdown-menu{
  position: absolute;
  width: 80%;
  top: 72px;
  display: flex;
  flex-direction: column;
}

.user-stats-dropdown-item{
  text-decoration: none;
  height: 50px;
  width: 100%;
  background-color: #1f1b1b;
  display: grid;
  place-items: center;
  transition: background-color ease 0.5s;
}

.user-stats-dropdown-item:hover{
  background-color: #383838;
}

.user-stats-dropdown-item h1 {
  color: white;
  font-size: 24px;
}

.stats-animation-enter {
  opacity: 0;
}

.stats-animation-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.track{
  display: flex;
  width: 80vw;
  background-color: #1f1b1b;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.track img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.track h1{
  font-size: 24px;
  color: white;
}

.track h2{
  font-size: 18px;
  color: rgb(194, 194, 194);
}

/*
Loading
*/
.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.loading-circle {
  margin-left: 50vw;
}

.loading-circle svg{
  left: 50%;
}

/*
Login Screen
*/

.login-background{
  background-color: #191414;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-card{
  position: relative;
  width: 20%;
  height: 30%;
  margin: auto;
  background-color: #1DB954;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.login-card h1{
  position: relative;
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  top: 20%;
  color: white;
  text-shadow: 2px 2px rgba(51, 51, 51, 0.3);
}

.login-btn{ 
  position: relative;
  background-color: white;
  color: rgb(51, 51, 51);
  font-size: 20px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  display: inline-block;
  padding: 5% 20%;
  top: -10%;
  transition: all 0.5s ease;
  cursor: default;
}

.login-btn:hover{
  background-color: rgb(210, 210, 210);
}